<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"
          type="image/x-icon"
          href="/favicon.ico">
  </head>
  <body style="height:100%; margin:0px;">
    <div id="root" style="height:100%;"></div>
    <script>
      (function() {
        var NODE_ENV = <%- JSON.stringify(NODE_ENV) %>;
        var chunk = <%- JSON.stringify(chunk || '') %>;
        if (NODE_ENV === 'development') {
          console.log('NODE_ENV', NODE_ENV);
        }
        const script = document.createElement('script');
        script.src = (NODE_ENV === 'development') ?
          (location.origin.replace('3000','3001') + '/dist/app.js') :
          (chunk || '/dist/app.js');
        document.write(script.outerHTML);
        /*if (NODE_ENV !== 'development') {
          const script2 = document.createElement('script');
          script2.src = '/dist/vendor2.js';
          document.write(script2.outerHTML);
        }*/
      }());
    </script>
  </body>
</html>